.container {
  text-align: right;
}

.refresh-icon {
  position: relative;
  border: none;
  outline: none;
  padding: 4px;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  width: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.refresh-icon:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.refresh-icon:focus {
  background-color: rgba(255, 255, 255, 0.15);
}
.refresh-icon svg path {
  stroke: #fff;
  stroke-width: 3px;
  stroke-linecap: round;
  fill: none;
}
.refresh-icon svg.arrow-svg {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.arrow-animation {
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  80% {
    -webkit-transform: rotate(340deg);
            transform: rotate(340deg);
  }
  99.999% {
    -webkit-transform: rotate(460deg);
            transform: rotate(460deg);
  }
  to {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  80% {
    -webkit-transform: rotate(340deg);
            transform: rotate(340deg);
  }
  99.999% {
    -webkit-transform: rotate(460deg);
            transform: rotate(460deg);
  }
  to {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}