body {
    background-color: rgba(246,251,245,1)
}

.vertical-align-content {
  height:40px; /* hack: same as .refresh-icon width in button.css! */
  display:flex;
  align-items:center;
  /* Uncomment next line to get horizontal align also */
  /* justify-content:center; */
}